.tb-cliente {
  width: 100%;

  table-layout: fixed;
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  height: 300px;
  margin-top: 0px;
}

th {
  padding: 17px;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  width: 13.33em;
  text-transform: uppercase;

}

td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  width: 13.33em;
  color: #000000;

}



i {
  font-size: 35px;
  cursor: pointer;
}

.bx-x{
  border-radius: 6px;
  background-color: #000000;
  color: #FFF;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.options {  
  display: flex;
  margin: 0;
  flex-direction: row;
  align-items: center;
}

.options .menu-options {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 6px;
  background-color: #000000;
  color: white;
  font-weight: 400;
  cursor: pointer;
  overflow: hidden;
  visibility: hidden;
  padding: 5px;
}

.link-li {
  text-decoration: none;
  color: white;
  user-select: none;
  padding: 5px;
}

.link-li:hover {
  color: #c9a100;
}


.options .menu-options.show {
  height: auto;
  visibility: visible;
}

&[dataaberto="false"] {
  >.options-trigger>.bx-x {
    visibility: hidden;
  }

  >.menu-options {
    visibility: hidden;
  }
}

@media (max-width: 770px) {
  .tb-cliente {
    width: 600px;
    table-layout: fixed;
  }
  .tb-cliente th:nth-child(4) {
    width: 12em;
  }
  .tb-cliente th:nth-child(3) {
    width: 8em;
  }
  .tb-cliente td:nth-child(2) {
    width: 7em;
  }

}
