body {
    z-index: 999;
    display: flex;
}


.Form {
    margin: 3em;
    display: flex;
    flex: wrap;
    flex-flow:  row wrap;
    justify-items: start;
    align-items: center;
    flex-basis: 100%;
}

.input-cadC{
  margin: 0 0 2% 2%;
  width: 35%;
  height: 20%;
  flex: auto;
}
.input-cadC div{
  width: 100%;
}


.button{
  margin: 0 0 0 2%;
  width: 35%;
  height: auto;
  flex: auto;
}

