body {
    z-index: 999;
    display: flex;
}

.Main {
    height: 80%;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
    border: .2px solid #FFF;
    position: absolute;
    top: 5em;
    left: 7.5%;
    right: 2em;
    display: flex;
    justify-content: center;
}

.Form {
    margin: 3em;
    display: flex;
    flex: wrap;
    flex-flow:  row wrap;
    justify-items: start;
    align-items: center;
    flex-basis: 100%;
}

.input-cad{
  margin: 0 0 0 2%;
  width: 35%;
  height: 20%;
  flex: auto;
}
.input-cad div{
  width: 100%;
}


.button{
  margin: 0 0 0 2%;
  width: 35%;
  height: auto;
  flex: auto;
}

