body {
    z-index: 999;
    display: flex;
}

.Title-emp{
    padding: 1%;
    margin:  0 0 0 1.5%;
    font-size: 30px;
    font-weight: 300;
}



.icon-filter-search,
.icon-filter-search * {
  box-sizing: border-box;
  width: 2em;
  height: 1.5em;
}


.icon-filter-search {
    flex-shrink: 0;
}
.search-bar form{
position: absolute;
top: 0;
right: 0;
}

