.nav{
    background-color: black;
    width: 100%;
    color: white;
    height: 11%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.img-nav{
    width: 10%;
    height: auto;
    align-self: center;
}