.nav{
    background-color: black;
    width: 100%;
    color: white;
    height: 11%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-nav{
    position: relative;
    width: 8em;
    left: 1.5em;
   

}

.bx-nav{
    color: #FFCC00;
}
.button-nav{
    display: flex;
    align-items: center;
    position: relative;
    right: 2em;
    background: transparent;
    border: 0;
}