.nav {
    background-color: black;
    width: 100%;
    color: white;
    height: 11%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-nav {
    position: relative;
    width: 8em;
    left: 1.5em;


}

.dropdown-content {
    position: absolute;
    background-color: rgb(0 0 0);
    right: 0;
    top: 3.5em;
    z-index: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    user-select: none;
    text-decoration: none;
    color: white;
    padding-top: 5px;
}

.dropdown-content a:hover {
    color: #FFCC00;
}

.dropdown-content-hover {
    position: absolute;
    background-color: rgb(0 0 0);
    right: 5em;
    top: 4em;
    z-index: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdown-content-hover strong {
    color: #FFCC00;
   
}
.dropdown-content-hover a  {
    user-select: none;
    text-align: initial;
    text-decoration: none;
    color: white;
    padding-top: 5px;
}
.dropdown-content-hover p {
    user-select: none;
    text-align: initial;
    text-decoration: none;
    color: white;
    padding-top: 5px;
}

.dropdown-content-hover a:hover {
    color: #FFCC00;
}

.bx-nav {
    color: #FFCC00;
}

.div_icons {
    width: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    right: 2em;
}

.button-nav {
    display: flex;
    align-items: center;
    margin-right: 3em;
    background: transparent;
    border: 0;

}

.empity{
    text-align: center;
}