body {
    z-index: 999;
    display: flex;
}

.Main {
    height: 80%;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
    border: .2px solid #FFF;
    position: absolute;
    top: 5em;
    left: 7.5%;
    right: 2em;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
}

.header{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;
}

.header h1{
    padding: 0 1em 1em 1em;
}
hr{
    flex-basis: 100%;
    height: 0;
    margin: 0;
    padding: 0;
}
.table{
    width: 100%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;
}
.icon-filter-search,
.icon-filter-search * {
  box-sizing: border-box;
  width: 2em;
  height: 1.5em;
}


.icon-filter-search {
    flex-shrink: 0;
}
.search-bar form{
position: absolute;
top: 0;
right: 0;
}

