.body-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
}

.Container {
  width: 80%;
  height: 80%;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
}
.Container-senha {
  width: 80%;
  height: 80%;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 15%;
}

.Content {
  width: 50%;
  height: 100%;
  background: #FFF;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Content_reset {
  width: 100%;
  height: 100%;
  background: #FFF;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark {
  background: rgba(0, 0, 0, 0.89);
  color: white;
  float: right;
}

.Main_content {
  width: 300px;
  position: relative;
  margin: 10% 10%;

}

.Main_content_reset{
  width: 100%;
  position: relative;
  margin: 10% 10%;
  
}
.Main_content_reset h1{
  font-size: x-large;
  margin-bottom: 1em;
  color: #DBAF00;
}
.Main_content_reset p{
  color: #373636;
  margin-bottom: 2em;
}


.FormLogin {
  margin-bottom: 3em;
}

.Container-emp {
  width: 80%;
  height: 80%;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
}

.Content-emp {
  width: 50%;
  height: 100%;
  background: #FFF;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-emp {
  background: rgba(0, 0, 0, 0.89);
  color: white;
  float: left;
}

.img-login {
  width: 47%;
}

.Main-cadC {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #ffffff;
  -webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  border: 0.3px solid#cecece11;
  position: absolute;
  top: 16%;
  display: flex;
  width: auto;
  height: 80%;
  margin: 0 2em 0 6em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.Main-cadC-reset{
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #ffffff;
  -webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  border: 0.3px solid#cecece11;
  position: absolute;
  top: 16%;
  display: flex;
  width: auto;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.Main {
  height: 80%;
  flex-shrink: 0;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #ffffff;
  -webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  border: 0.3px solid#cecece11;
  position: absolute;
  top: 5em;
  left: 7.5%;
  right: 2em;
  display: flex;
  justify-content: center;
}

.main-cliente {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #ffffff;
  -webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  border: 0.3px solid#cecece11;
  position: absolute;
  top: 16%;
  display: flex;
  width: 85%;
  height: 70%;

  flex-direction: column;
  justify-content: center;
}

.Form-cadC {
  margin: 3em;
  display: flex;
  flex: wrap 1;
  width: 70%;
  flex-flow: row wrap;
  align-items: center;
  flex-basis: 100%;
  align-content: center;
}

.input-cadC {
  margin: 0 0 2% 2%;
  width: 35%;
  height: 20%;
  flex: auto;
}

.input-cadC div {
  width: 100%;
}


.button {
  margin: 0 0 0 2%;
  width: 35%;
  height: auto;
  flex: auto;
}


.Form {
  margin: 3em;
  display: flex;
  flex-flow: row wrap;
  justify-items: start;
  align-items: center;
  flex-basis: 100%;
  justify-content: center;
  align-content: center;
}
.Form-clt{
  margin: 3em;
  display: flex;
  flex-flow: row wrap;
  justify-items: start;
  align-items: center;
  flex-basis: 100%;
  justify-content: center;
  align-content: center;
}

.input {
  margin: 0 0 2% 2%;
  width: 35%;
  height: auto;
  flex: auto;
}

.input div {
  width: 100%;
}




.input-cad {
  margin: 0 0 5% 2%;
  width: 35%;
  height: 20%;
  flex: auto;
}

.input-cad div {
  width: 100%;
}


.button Button {
  margin-right: 4em;
}

.button svg {
  display: none;
}


.main {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #ffffff;
  -webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  border: 0.3px solid#cecece11;
  position: absolute;
  top: 15%;
  /* bottom: 1px; */
  display: flex;
  width: 85%;
  height: 80%;
  margin: 0 2em 0 6em;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 2em;
}

.Title {
  padding: 1%;
  margin: 0 0 0 1%;
  font-size: 40px;
  font-weight: 300;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between
}

.listcliente {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Main-listC {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #ffffff;
  -webkit-box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  border: 0.3px solid#cecece11;
  position: absolute;
  top: 16%;
  display: flex;
  width: 90.304%;
  height: 82%;
  margin: 0 1em 0 6em;
  flex-direction: column;
  justify-content: center;
}

.header-listC {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between
}


.table {
  overflow-x: auto;
}

.upload {
  display: flex;
  width: 24em;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 2em;
  margin-top: 2em;
}

.subpasta {
  display: flex;
  width: 24em;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2em;
}

.upload h1 {
  padding: 1% 0;

  font-size: 40px;
  font-weight: 300;
  height: 70px;
}

.subpasta h1 {
  padding: 1% 0;

  font-size: 40px;
  font-weight: 300;
  height: 70px;
}

.input_subPasta {
  padding-left: 1em;
}

.section-reset {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-reset {
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 12px 12px 24px #ebebeb, -12px -12px 24px #ffffff;
  border: 1px solid#cecece11;
  position: absolute;
  top: 16%;
  width: 90.304%;
  height: 82%;
  display: flex;
  margin: 0 1em 0 6em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.teste-div{
width: 70%;
height: 100%;
}
.solicitacao-div{
width: 30%;
height: 100%;

display: flex;
flex-direction: column;
flex-wrap: nowrap;
overflow-x: auto;
overflow-y: auto;
}

.solicitacao-div .Title{
  margin: 3% 0 5% 1%;
  font-size: 25px;
}
.div-button{
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.div-button button{
  margin: 0 0 2em 0;
  padding: 0;
}
.div-button-cliente {
  display: flex;
  flex-direction: row;
margin-top: 3em;
}

.div-button-cliente button{
  margin: 0 3em 0 0;
  padding: 0;
}
.div-button-cliente svg{
display: none;

}
.div-senha{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.vision{
  border: 0;
  background: none;
  padding-left: 30px;
}
.vision-cad{
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}
.vision-cad span{
  color: black;
  font-weight: bold;
}
@media (max-width: 995px) {
  .main {
    display: flex;
    width: 85%;
    height: 82%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .upload {
    margin-top: 0em;
    margin-bottom: 1em;
  }

  .subpasta {
    margin-top: 0em;

  }

  .input_subPasta {
    padding-left: 0em;
  }

  .Main-listC {
    width: 85%;

  }

  .main-reset {
    width: 85%;
    }
}


@media (max-width: 770px) {

  .main-reset {
    flex-direction: column;
    }
    .teste-div{
      width: 80%;
    }
    .solicitacao-div{
      width: 80%;
    }
  .upload h1 {

    font-size: 35px;
    height: auto;
  }

  .subpasta h1 {

    font-size: 35px;
    height: auto;
  }

  .upload {
    width: auto;
    padding-left: 5px;
  }

  .subpasta {

    width: auto;
    padding-left: 5px;

  }

  .input_subPasta {
    padding-left: 0em;
  }

  .arquivos {
    margin: 15px 0 15px 0;
  }

  .main {
    display: flex;
    width: 75%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .Main-listC {
    width: 75%;

  }
  .main-reset { 
    width: 75%;
  }

  .Title {
    padding: 2%;
    font-size: 30px;
  }

  .input-cad {
    margin: 0 0 0 2%;
    width: 70%;
    height: 20%;
    flex: auto;
  }

  .Form {
    flex-flow: column wrap;
    margin: 1em;
  }
  .Form-clt{
    flex-flow: column wrap;
    width: 100%;
    margin: 1em;
  }

  .input-cadC {
    margin: 0 0 2% 2%;
    width: 70%;
    height: 15%;
    flex: auto;
  }

  .Form-cadC {
    margin: 1em 0;
    flex-flow: column;
    height: 90%;
    justify-content: center;
  }

  .Main-cadC {

    position: absolute;
    top: 16%;
    display: flex;
    width: 70%;
    height: auto;
    margin: 0 1em 0 6em;
    flex-direction: column;
    justify-content: center;
  }
  .Main-cadC-reset {
    position: absolute;
    top: 16%;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
  }

  .button {
    width: 70%;
  }
}

@media (max-width: 480px) {



  .teste-div{
    display: none;
  }
  .solicitacao-div{
    width: 90%;
  }

  .main-reset { 
    width: 70%;
  }

  .Main-listC {
    width: 70%;
  }

.download, .notnow {
  height: 100%;
  display: inline-flex;
  align-items: center;
}
  .main {
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .subpasta {
    padding-left: 0px;
  }

  .upload h1 {

    font-size: 25px;

    height: 35px;
  }

  .subpasta h1 {

    font-size: 25px;

    height: 35px;
  }

  .input_subPasta {
    padding-left: 0em;
  }

  .arquivos {
    margin: 15px 0 15px 0;
  }

  .dark-emp {
    display: none;
  }

  .dark {
    display: none;
  }

  .Content-emp {
    width: 100%;
  }

  .Content {
    width: 100%;
  }
  .Content_reset {
    width: 100%;
  }
}