.Container-emp{
    width: 80%;
    height: 80%;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
}

.Content-emp{
    width: 50%;
    height: 100%;
    background: #FFF;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-emp{
    background: rgba(0, 0, 0, 0.89);
    color: white;
    float: left;
}

.Main_content-emp{
    width: 300px;
    position: relative;
    margin: 10% 10%;

}


.FormLogin-emp{
    margin-bottom: 3em;
}