@font-face {
    font-family:'Lulo' ;
    src: url('./assets/fonts/Lulo Clean One Bold.otf') format(opentype);
}


@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#root{
    display: flex;
    justify-content: center;
}